<div class="field">
  {{label "title" "Title"}}
  {{input "title" scenario.title placeholder="Title"}}
</div>
<div class="field">
  {{label "repository" "Repository"}}
  {{input "repository" scenario.repository placeholder="Repository"}}
</div>
<div class="field">
  {{label "simulationUrl" "Simulation URL"}}
  {{input "simulationUrl" scenario.simulationUrl placeholder="Simulation URL"}}
</div>
<div class="field">
  {{label "attacks_id" "Attack Type"}}
  {{select "attacks_id" attacks scenario.attacks_id}}
</div>
<div class="field">
  {{submit "submit" "Submit" class="ui large blue icon button"}}
  <a class="ui large red icon button" href="/scenario">Kembali</a>
</div>
