<div class="field">
  {{label "title" "Title"}}
  {{input "title" attack.title placeholder="Title"}}
</div>
<div class="field">
  {{label "description" "Description"}}
  {{input "description" attack.description placeholder="Description"}}
</div>
<div class="field">
  {{label "file" "File"}}
  {{input "file" attack.file placeholder="File"}}
</div>
<div class="field">
  {{submit "submit" "Submit" class="ui large blue icon button"}}
  <a class="ui large red icon button" href="/attack">Kembali</a>
</div>
