        <div id="container"></div>
        <input type="hidden" id="scenarioId" value="{{scenarioId}}">
        <input type="hidden" id="appSandboxDeployUrl" value="{{appSandboxDeployUrl}}">
        <input type="hidden" id="pentestAgentGetUrl" value="{{pentestAgentGetUrl}}">
        <input type="hidden" id="pentestAgentScanUrl" value="{{pentestAgentScanUrl}}">
        <input type="hidden" id="urlData" value="{{urlData}}">
        <input type="hidden" id="storeResultUrl" value="{{storeResultUrl}}">

        <script type="text/babel" src="/javascripts/scenarioRun.js"></script>